html {
    height: 100%;
}
body {
    height: 100%;
}

[data-gadget-scope="chatbox"] {
    height: 95%;
}

.talk-box {
    padding: 10px;
    height: 80%;
    border: solid 1px;
    font-family: monospace;
    overflow: auto;
}

.talk-input {
    width: 80%;
    height: 5%;
    font-family: monospace;
    overflow: auto;
    float: left;
}

.send-button {
    width: 10%;
    height: 5%;
    float: left;
}
