#cart {

	top:10px;

}

#meta ol li a {
	
	float: left;	
}

#languageselector li a {
	
	line-height: 5px;

}

#content .sidebar ol li ol {

	position: relative;
	clear: both;
	float:left;
	width:180px;

}

#fieldset-newsletter { width: 210px; }

#fieldset-newsletter button {

	top:3px;
	right:-24px;

}

#fieldset-coupon button {

	top:3px;
	right:2px;
	padding: 3px 10px;
	
	
}

.teaser-grid li a strong {
	
	left:1px;

}

.pagenav li a {
	
	display: block;

}

.pagenav li a.next, .pagenav li a.last { position: relative; top:5px; }


.sort ol li a { 
	
	display: block;

	
}

.navbutton { display: block; }



table { border-collapse:collapse; }
