<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jio Drive</title>
    <link rel="stylesheet" href="../<%= curl.jquerymobilecss.relative_dest %>">
    <link rel="stylesheet" href="jio_drive.css" />
    <script src="../<%= copy.rsvp.relative_dest %>" type="text/javascript"></script>
    <script src="../<%= copy.renderjs.relative_dest %>" type="text/javascript"></script>
    <script src="../<%= curl.jquery.relative_dest %>" type="text/javascript"></script>
    <script src="../<%= curl.jquerymobilejs.relative_dest %>" type="text/javascript"></script>
    <script src="jio_drive.js" type="text/javascript"></script>
  </head>
  <body>
    <header data-role="header">
      <a class="home_link">Home</a>
      <h1>Office JS</h1>
      <a class="about_link">About</a>
    </header>

    <article class="gadget_container"></article>

    <aside>
      <section data-gadget-url="../catalog_static/index.html"
               data-gadget-scope="catalog"></section>
      <section data-gadget-url="../jio_bridge/index.html"
               data-gadget-scope="jio"></section>
    </aside>
  </body>
</html>
