/*- HTML basis elements
----------------------------------------------------------------------*/

body {



}



/*- main elements
----------------------------------------------------------------------*/



/*- navigation
----------------------------------------------------------------------*/


#meta {

	background-color: #dff0f1;

}

#meta ol li.meta-1 a {

	background: url(../../img/tab.gif) no-repeat #338489;
	color:#fff;

}

#meta ol li.meta-1 a:hover {

	background-color: #bc6a12;

}

#meta ol li.meta-2 a {

	background: url(../../img/tab.gif) no-repeat #fff;
	color:#bc6a12;

}

#meta ol li.meta-3 a {

	background-color: #50cc18;
	color:#fff;

}

#meta ol li.meta-3 a:hover {

	background-color: #6fe935;

}


nav {

	

}

nav ol li a:link, nav ol li a:active, nav ol li a:visited {
	
	color:#0b6b71;

}

#content .sidebar {

	background-color: #dff0f1;

}

#content .sidebar ol li ol {

	background: url(../../img/sidebar.png) no-repeat transparent;
	background-position: 100% 100%;

}

#content .sidebar ol li ol li ol { background: none; }

#content .sidebar ol li a { color: #bc6a12; }
#content .sidebar ol li a:hover { color: #000; }

#content .sidebar ol li.selected a { color: #000; background-color: #fff; }

.breadcrumb li { color: #0b6b71; }
 
.breadcrumb li a {

	background: url(../../img/breadcrumb.gif) no-repeat transparent;
	background-position: 100% 50%;
	color:#8fbec1;

}

#languageselector li { color: #8fbec1; }

#languageselector li a { color: #267c81; }

#languageselector li a:hover { color: #000; }

.pagenav li a {
	
	color: #0b6b71;

}

.pagenav li.current a {
	
	color: #000;
	border:1px solid #dff0f1;

}

.pagenav li a.next {

	background: url(../../img/icon-next.gif) no-repeat transparent;
	background-position: 50% 50%;

}

.pagenav li a.last {

	background: url(../../img/icon-last.gif) no-repeat transparent;
	background-position: 50% 50%;

}

.tools li a { 

	background: url(../../img/tools-sep.png) no-repeat transparent;
	background-position: 100% 51%;
	color: #bc6a12; 
	
}

.tools li.last a { background: none; }

.tools li a:hover { color: #000; }

.checksteps {

	background: url(../../img/checksteps.png) no-repeat transparent;
	background-position: 50% 36px;

}

.checksteps li {
	
	background: url(../../img/checksteps-incomplete.gif) no-repeat transparent;
	background-position: 50% 32px;
	color:#b9b9b9;

}

.checksteps li.current {

	background: url(../../img/checksteps-active.gif) no-repeat transparent;
	background-position: 50% 31px;
	color:#bc6a12;

}

.checksteps li.complete {

	background: url(../../img/checksteps-complete.gif) no-repeat transparent;
	background-position: 50% 30px;

}

.checksteps li.complete a {

	color:#5cd41b;

}


/*- content elements
----------------------------------------------------------------------*/

.feed {

	border-top:4px solid #dff0f1;

}

.teaser-grid li a strong {

	background-color: #fff;
	color:#000;

}

.feed h3 {

	color:#696969;

}

.feed h4, .feed .productdetail h3 {

	color:#408c91;

}

.feed .top {

	border-bottom:4px solid #dff0f1;

}

.feed .more {

	border-top:1px solid #dff0f1;
	border-bottom:1px solid #dff0f1;
	color:#8fbec1;

}

.teaser-grid li a {

	border:1px solid #fff;

}

.teaser-grid li a:hover {

	border:1px solid #dff0f1;

}

.feed .more:hover {

	color:#000;

}

#content .sidebar ol li h3 {

	color: #408c91;

}

#content .sidebar ol li.newsletter ol { background: none; }

#content .sidebar ol li.newsletter ol li { color:#515151; }

#content .secondary ol li.info ol {

	background-color: #f4fafa;

}

#content .secondary ol li.info h4 {

	background: url(../../img/icon-info.png) no-repeat #dff0f1;
	background-position: 10px 48%;
	color:#338489;

}

#content .secondary ol li.info ol li a { color: #666; }
#content .secondary ol li.info ol li a:hover { color:#000; }

.product-grid li a.button-cart,
.product-action button {

	background: url(../../img/button-cart.gif) no-repeat transparent;

}

.product-grid li a.button-cart:hover {

	background-position: 0 100%;

}

.product-grid li a.more { border-top: none; }
.product-action a.more { color: #bc6a12; }  

.product-grid li h4 { color: #000; }

.product-action {

	border-left:1px solid #dff0f1;
	border-bottom:1px solid #dff0f1;

}

.product-action ol li.swatches {

	border-bottom:1px solid #dff0f1;

}

.product-action ol li .old {

	color:#959595;

}

.ok { color: #4dca17; }
.no { color: #ca3d17; }

.product-gallery a strong {

	background: url(../../img/icon-zoom.png) no-repeat #f4fafa;
	background-position: 115px 50%;
	color:#338489;

}

.product-gallery ul li { border:1px solid #fff; }

.product-gallery ul li.ui-tabs-selected { border:1px solid #338489; }

.product-description .tabber ul li a {

	color:#000;

}

.product-description .tabber ul li.ui-tabs-selected a {

	background-color: #dff0f1;
	color:#338489;

}

.product-description .tabber ul {

	border-right: 1px solid #dff0f1;

}

.lastproduct {

	background-color: #dff0f1;

}

.lastproduct h5 { color: #408c91; }

.feed table {

	border-top:1px solid #dff0f1;
	border-bottom:1px solid #dff0f1;

}

.feed table thead {

	border-bottom: 1px solid #dff0f1;

} 
 
.feed table thead th {

	color:#338489;

}

.feed table tbody tr.subtotal td, 
.feed table tbody tr.shipping td,
.feed table tbody tr.total td {

	border-top: 1px solid #dff0f1;

}

.coupon { 

	background-color: #dff0f1;
	color:#408c91;

} 
 
/*- footer
----------------------------------------------------------------------*/


footer {

	border-top:2px solid #dff0f1;
	color: #8f8f8f;

}

footer a { color: #7bcacf; }
footer a:hover { color: #000; }

/*- forms
----------------------------------------------------------------------*/


fieldset button {

	background-color: #408c91;
	color:#fff;
	border:none;

}

fieldset button:hover {

	background-color: #bc6a12;

}

fieldset button:active {
	
	background-color: #000;

}

#fieldset-newsletter {
	
	background: url(../../img/input-newsletter.png) no-repeat transparent;

}

#fieldset-newsletter input,
#fieldset-coupon input {

	border:none;
	background-color: transparent;

}


#fieldset-quicksearch input {

	border:1px solid #dff0f1;
	color:#99c0c2;

}


#fieldset-quicksearch input:hover {

	border:1px solid #000;
	color:#000;

}

#fieldset-quicksearch button {

	border:none;
	background: url(../../img/icon-qs.png) no-repeat transparent;

}

.product-action input, .feed table tbody tr td.td_qty input {

	border:1px solid #bdc2c9;

}

#fieldset-coupon {
	
	background: url(../../img/input-coupon.gif) no-repeat transparent;
	background-position: 129px 0;

}

/*- buttons
----------------------------------------------------------------------*/

.product-action button {

	border:none;

}

.product-action button:hover {

	background-position: 0 100%;

}

.button-add, .button-minus {
	
	background: url(../../img/button-addremove.gif) no-repeat #338489;
	background-position: 2px 50%;

}

.button-minus {

	background-position: -13px 50%;

}

a.navbutton:link, a.navbutton:active, a.navbutton:visited {

	color:#fff;

}

.navbuttons li a.back {

	background-color: #bc6a12;

}

.navbuttons li a.back:hover {

	background-color:#e19340;

}

.navbuttons li a.back:focus {

	background-color:#000;

}

.navbuttons li.last a {

	background-color: #53ce19;

}

.navbuttons li.last a:hover {

	background-color: #6fe935;

}

.navbuttons li.last a:focus {

	background-color: #000;

}


/*- links
----------------------------------------------------------------------*/

a:link, a:active, a:visited {

 	color:#7bcacf;

}

a:hover {

	color:#000;

}
