/*- HTML basis elements
----------------------------------------------------------------------*/


body,html {
	
	margin:0;
	padding:0;
	height:100%;
	min-width: 960px;
	
}

br { clear:both; }

p br { clear: none; }

hr {

	height:1px;
	padding: 20px 0 0 0;

}

.hide, .ui-tabs-hide {  display:none;  }

a:active, a:focus { outline:none; }

a img { border:none; }

p { padding:10px 0; }

.align-left { float: left; }

header, article, section, footer { display: block; }

/*- main elements
----------------------------------------------------------------------*/

header {

	width:960px;
	height:100px;
	margin: 0 auto;
	position: relative;
	padding-top:21px;

}

h1#index { position: absolute; top:0; left:20px; }

#index, #index a {

	display: block;
	height:106px;
	width:420px;
	text-indent: -999999px;

}

#meta {

	width:100%;
	height: 40px;

}

#meta .inner { 

	width: 960px; 
	margin: 0 auto; 
	position: relative;
	
}

#mainwrapper {

	width:960px;
	margin: 0 auto; 
	display: block;

}

#interior #mainwrapper {

	width:100%;
	
}

#content {

	width:960px;
	margin: 0 auto;

}

#content .sidebar {

	width:230px;
	float:left;

}

#content .feed {

	width:520px;
	margin: 0 20px 0 20px;
	float:left;
	overflow: hidden;
	padding-bottom: 100px;

}

#content .secondary {

	width:170px;
	float:left;

}


/*- navigation
----------------------------------------------------------------------*/

nav { 
	
	position: absolute;
	top:21px;
	left:250px;
	width:710px;
	display: block;
	
}

nav ol li {

	float:left;
	height: 82px;
	list-style-type: none;

}

nav ol li a {
	
	display: block;
	height:100%;
	padding: 30px 30px 0 0;

}

#meta ol li { 

	float: left; 
	list-style-type: none;
	
}


#meta ol li a {

	padding: 7px 15px;

}

#meta ol li.meta-2 a img { position: relative; top:2px; }

@-moz-document url-prefix() {
    #meta ol li.meta-2 a { padding-top:10px; }
}




#languageselector {
	
	position: absolute;
	left:0;
	top:10px;

}

#cart {

	position: absolute;
	right:0;
	top:18px;

}


#content .sidebar ol {

	list-style-type: none;
	padding:13px;

}

#content .sidebar ol li a { display: block; }

#content .sidebar ol li.newsletter ol { padding:0; }

#content .sidebar ol li.tags a { display: inline; }

.breadcrumb li { float:left; padding: 10px 5px 10px 0; }

.breadcrumb li a { padding: 0 10px 0 0; }

#content .secondary ol { list-style-type: none; }

#content .secondary ol li { padding: 0 0 15px 0; }

#content .secondary ol li.info ol {

	padding: 20px 10px;

}

#content .secondary ol li ol li { padding: 0; }

.pagenav { display: block; float: right; }

.pagenav li { float: left; }

.pagenav li a { padding: 5px 7px; }


.pagenav li a.next, .pagenav li a.last {
	
	float: left;
	width:10px;
	height:6px;
	text-indent: -999999px;
	
}

.tools { float: right; }
.tools li { float:left; padding: 10px 0; }
.tools li a { padding: 0 12px; }

.checksteps {

	width: 520px;
	overflow: hidden;

}

.checksteps li {

	float:left;
	padding: 10px 24px 20px 24px;


}


/*- content elements
----------------------------------------------------------------------*/

.feed .teaser-products p {
	
	padding: 10px 0 40px 0;

}

.teaser-grid {

	width: 570px;

}

.teaser-grid li {

	float: left;
	width: 160px;
	text-align: center;
	position: relative;
	padding-right:18px;


}

.teaser-grid li a {

	display: block;
	width:160px;
	height:160px;

}

.teaser-grid li a strong {

	display: block;
	width:160px;
	position: absolute;
	bottom:0;
	padding: 15px 0;

}

.more {

	clear: both;
	display: block;
	text-align: right;
	padding: 10px 0;

}

.product-grid { clear: both; padding: 30px 0 0 0; }
.product-grid li {

	position: relative;
	padding: 16px 0 10px 0;

}
.product-grid li .product-img {

	float:left;
	width:160px;
	padding-left: 20px;

}

.product-grid li .price {

	position: absolute;
	top:16px;
	right:55px;

}

.product-grid li h4, .product-grid li p {
	
	padding: 0 120px 10px 0;

}

.productdetail .product-gallery {

	width:307px;
	height:430px;
	float:left;
	position: relative;
	overflow: hidden;

}

.product-gallery ul {

	position: absolute;
	bottom:0;	

}

.product-gallery ul li {

	float: left;
	width: 72px;
	height:72px;
	overflow: hidden;

}

.product-gallery ul li a { width: 100%; height: 100%; } 

.productdetail .product-action {
	
	width:212px;
	float: left;

}

.product-action ol {

	list-style-type: none;

}

.product-action ol li {

	padding:10px;

}

.product-action .more {

	position: relative;
	left:-10px;
	width: 212px;

}

.swatches { padding:0; }
.swatches ul { padding: 10px 0 0 0; }
.swatches ul li {

	display:inline;
	padding:0;

}

.product-action .price, 
.product-action .old {

	display: block;

}

.product-description {

	clear: both;
	padding-top:50px;

}

.product-description .tabber ul {

	width:111px;
	float:left;
	padding-bottom:150px;

}

.product-description .tabber { position: relative; }
.product-description .tabber div p {

	position: absolute;
	top:0;
	left:0;

}

.product-description .tabber ul li a {
	
	display: block;
	padding: 6px 10px;

}

.product-description .tabber div p { padding: 0 0 0 120px; }

.lastproduct {

	width: 216px;
	padding:10px;

}

.lastproduct img {

	float:left;
	margin: 0 10px 10px 0;

}

.feed table { width:100%; margin-bottom:20px; }

.feed table thead th {

	padding: 5px;

}

.feed table thead tr td.th_product { width: 60px; }
.feed table tbody tr td { padding: 15px 5px; }
.feed table tbody tr td.td_product img { width: 48px; height: auto; }
.feed table thead tr th.th_desc,
.feed table tbody tr td.td_desc {

	width:100px;
	text-align: left; 

}

.feed table tbody tr td.td_available { text-align: center; }

.feed table tbody tr td.td_price, .feed table tbody td.td_total { white-space: nowrap; }

.feed table tbody tr td.td_total { text-align: right; }

.feed table tbody tr.subtotal td, 
.feed table tbody tr.shipping td,
.feed table tbody tr.total td,
.feed table tbody tr.vat td,
.feed table tbody tr.bottom td {
	
	padding: 5px 5px;
	text-align: right;

}

.coupon {
	
	display: block;
	padding:10px 10px;

}

#_l { z-index: 1; }
#_d { z-index: 2; }
#_ul li { position: inherit; width: auto; float: left; margin-right:8px !important; }


/*- headings
----------------------------------------------------------------------*/

.feed h4, .feed h3 {

	padding: 10px 0;

}

#content .sidebar ol li h3 {

	padding: 10px 0;

}

#content .secondary ol li.info h4 { padding:9px 5px 9px 25px; }

.lastproduct h5 {

	padding: 0 0 10px 0;

}

/*- footer
----------------------------------------------------------------------*/

footer {
	
	clear: both;
	display: block;
	width:960px;
	margin: 0 auto;
	padding:10px 0 40px 0;
	
	
}

footer p, footer ul, footer ul li { display: inline; }

/*- forms
----------------------------------------------------------------------*/

fieldset { position: relative; }

#fieldset-newsletter input {

	padding: 8px;
	width:120px;

}

#fieldset-newsletter button {

	position: absolute;
	top:5px;
	right:5px;
	padding: 5px 10px;

}


#fieldset-quicksearch input { padding: 5px; width:157px; }

#fieldset-quicksearch button {

	position: absolute;
	top:5px;
	right:5px;
	display: block;
	width:20px;
	height:20px;
	text-indent: -999999px;

}

.product-action ol li select {
	
	width:70px;

}

 .product-action ol li input { width: 20px; padding: 3px; }

.product-action ol li label {
	
	float: left;
	width:80px;
	text-align: right;
	padding-right:10px;

}

.feed table tbody tr td.td_qty input { 

	width:30px; 
	float: left; 
	margin-right:4px;
	position: relative;
	top:-3px;
	
}

#fieldset-coupon {
	
	display: block;
	width:500px;
	height:31px;
	position: relative;

}

#fieldset-coupon label { 
	
	position: absolute;
	top:10px;
	left:0;

}

#fieldset-coupon input {
	
	display: block;
	padding:5px;
	width:290px;
	position: absolute;
	top:3px;
	left:130px;

}


#fieldset-coupon button {

	position: absolute;
	top:5px;
	right:5px;
	padding: 5px 10px;
	
	
}

@-moz-document url-prefix() {
   
   #fieldset-newsletter button,
   #fieldset-coupon button {

	top:4px;
	right:3px;
	
	
	}
}


/*- buttons
----------------------------------------------------------------------*/

.product-grid li a.button-cart {

	display: block;
	width: 34px;
	height: 34px;
	position: absolute;
	top:7px;
	right:10px;
	text-indent: -999999px;
	
}

.product-action button {

	width:150px;
	height:34px;
	line-height: 34px;
	position: relative;
	left:40px;
	

}

.product-gallery a strong {

	display: block;
	padding: 10px 0;
	text-align: center;

}

.button-add, .button-minus {
	
	float:left;
	width: 12px;
	height:12px;
	text-indent: -999999px;

}

.button-minus {
	
	margin-left:3px;
	
}

.navbutton {

	padding: 6px 10px;

}

.navbuttons li { float: left; }

.navbuttons li.last {

	float: right;

}

/*- links
----------------------------------------------------------------------*/
