.sort {

	display: block;
	width: 772px;
	height: 30px;
	background-color:#f3f3f3;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;

}

.sort .hide { display: inherit; }

.sort ol {

	list-style-type: none;
	margin:0;
	padding:10px;

}

.sort ol li {
	
	z-index: 1;
	float:left;
	height:32px;
	width: auto;
	margin: 0;
	font-size: 8pt;
	color:#828282;
	position:relative;

}

.sort ol li ol {
	
	padding:0;
	margin:0;
	display: none;

}

.sort ol li a {
		
	font-size: 8pt;
	text-decoration: none;
	padding: 0 20px 20px 10px;
	overflow:hidden;
	background: url(../../img/icon-sort.gif) no-repeat transparent;
	background-position: 100% 2px;
	-webkit-transition: all 200ms linear;
	color:#444;

}


.sort ol li.last a { background: none; }


.sort ol li:hover a {

	color:#444; 
	
}

.sort ol li:hover ol {
	
	display:block; 
	position:absolute; 
	top:20px; 
	left:0; 
	width:125px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #dbdbdb;
	
}

.sort ol li:hover ol li a.hide {


	
}

.sort ol li:hover ol li ol {

	display: none;
	
}

.sort ol li:hover ol li a {
	
	display:block;
	width:105px; 
	padding:0 10px;
	height:auto;
    line-height:32px;
    text-align: left;
	background: none;
	
}

.sort ol li:hover ol li a:hover {

	background-color: #ddd;

}