<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="presentation_viewer.css">

    <!-- Renderjs -->
    <script src="../<%= copy.rsvp.relative_dest %>"></script>
    <script src="../<%= copy.renderjs.relative_dest %>"></script>

    <!-- IO definitions for presentation editor gadget-->
    <script src="presentation_viewer.js"></script>
    
    <title>Presentation viewer</title>
  </head>
  <body></body>
</html>
