body {
    background-color: white;
    margin: 0;
    padding: 0;
}
header {
    background-color: #DDDDFF;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
aside {
    float: right;
}
nav#header_navbar li {
    display: inline;
    list-style: none outside none;
    margin-left: 30px;
}
nav#left_navbar {
    background-color: #DDDDDD;
    display: inline-block;
    width: 15%;
}
.nav_header
{
    font-style: italic;
    list-style: none outside none;
}

section {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
