<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jabber login gadget</title>

    <link rel="stylesheet" href="../<%= curl.jquerymobilecss.relative_dest %>">
    <link rel="stylesheet" href="jabber_login.css">
    
    <script src="../<%= curl.jquery.relative_dest %>"></script>
    <script src="../<%= curl.jquerymobilejs.relative_dest %>"></script>
    <script src="../<%= copy.rsvp.relative_dest %>"></script>
    <script src="../<%= copy.renderjs.relative_dest %>"></script>
    <script src="../<%= curl.strophejs.relative_dest %>"></script>
    
    <script src="jabber_login.js"></script>
  </head>
  <body>
    <div class="login-box ui-corner-all ui-shadow">
      <h3 class="title">Log in to your jabber account:&nbsp</h3><br/>
      <form class="login-form" data-ajax="false">
        <div class="ui-field-contain">
          <input type="url" name="server" placeholder="Jabber server url" value="https://mail.tiolive.com/chat/http-bind/" required>
        </div>
        <div class="ui-field-contain">
          <input type="text" name="jid" placeholder="Jabber ID" required>
        </div>
        <div class="ui-field-contain">
          <input type="password" name="passwd" placeholder="Password" required>
        </div>
        <fieldset class="ui-btn-inline">
          <input type="submit" value="Log In">
        </fieldset>
      </form>
    </div>
  </body>
</html>
