
nav li {

	font-size: 15pt;

}

a:link, a:active, a:visited { text-decoration: none; }

.teaser-grid li a strong { font-weight: normal; }


h3 {

	font-size: 11pt;

}

h4 {
	
	font-size: 11pt;

}

h3, h4 {

	text-transform: uppercase;

}

.feed .more {

	text-transform: uppercase;
	font-size: 8pt;

}

#content .sidebar ol li {

	line-height: 15pt;
	font-size: 10pt;

}

#content .sidebar ol li h3 {

	font-weight: normal;
	font-size: 10pt;

}

#content .sidebar ol li.newsletter ol li  { line-height: 10pt; }

.tags a { font-weight: bold; }

.tc-1 { font-size: 5pt; }
.tc-2 { font-size: 6pt; }
.tc-3 { font-size: 7pt; }
.tc-4 { font-size: 8pt; }
.tc-5 { font-size: 9pt; }
.tc-6 { font-size: 10pt; }
.tc-7 { font-size: 11pt; }
.tc-8 { font-size: 12pt; }
.tc-9 { font-size: 13pt; }
.tc-10 { font-size: 14pt; }

button { font-family: Arial, Sans; }

#content .secondary ol li.info h4 { 

	text-transform: uppercase;
	font-size: 8pt; 
	font-weight: normal;
	white-space: nowrap;
	
}

.product-grid li .price {

	font-size: 12pt;

}

.product-grid li h4 { text-transform: none; font-size: 10pt; }

.product-grid li p {

	font-size: 8pt;
	line-height: 14pt;
	
}

.product-grid li .more { font-weight: bold; }

.product-action ol li strong.price {

	font-size: 15pt;

}

.product-action ol li .old {

	text-decoration: line-through;

}

.ok, .no { font-weight: normal; }

.product-action button {

	font-weight: bold;
	font-size: 10pt;
	
}

.product-gallery a strong {

	text-transform: uppercase;
	font-weight: normal;

}

.lastproduct h5 { font-size: 10pt; }
.lastproduct { font-size: 8pt; }

 
.feed table thead th {

	text-transform: uppercase;
	font-size: 9pt; 
	font-weight: normal;
	white-space: nowrap;
}

.feed table tbody tr td { font-size: 8pt; }

.feed table tbody tr.subtotal td { font-weight: bold; }

.feed table tbody tr.total td { font-size: 10pt; }

.coupon label { font-weight: bold; }
