#visualizer {
    text-align: center;
}

#visualizer #canvas {
    margin-top: 2%;
    position: relative;
}
canvas#mirror{
    opacity: 0.5;
    position: relative;
    top: -66px;
    -webkit-transform: scaleY(-0.5);
    -moz-transform: scaleY(-0.5);
    -ms-transform: scaleY(-0.5);
    transform: scaleY(-0.5);
}
div#mirrorWrapper{
    height: 150px;
}

/*
div#mirrorWrapper:after {
    display: block;
    height: 100px;
    width: 25%;
    position: relative;
    top: -257px;
    content: " ";
    background: -moz-linear-gradient(top,rgba(39,40,34,0) 0%, rgba(39,40,34,1) 75%);
    background: -webkit-linear-gradient(top,rgba(39,40,34,0) 0%, rgba(39,40,34,1) 75%);
    background: -o-linear-gradient(top,rgba(39,40,34,0) 0%, rgba(39,40,34,1) 75%);
    background: -ms-linear-gradient(top,rgba(39,40,34,0) 0%, rgba(39,40,34,1) 75%);
    background: linear-gradient(top,rgba(39,40,34,0) 0%, rgba(39,40,34,1) 75%);
}
*/
