<!DOCTYPE html>
<html lang="en">
  <head>
    <title>animation</title>
    
    <!-- renderjs -->
    <script src="../<%= copy.rsvp.relative_dest %>" type="text/javascript"></script>
    <script src="../<%= copy.renderjs.relative_dest %>" type="text/javascript"></script>
    
  <!-- custom script -->
  <script src="./animation.js" type="text/javascript"></script>
  <link rel="stylesheet" href="../../src/audioplayer_animation/animation.css" media="screen" ></link>
    

  </head>
  

  <body>
    <div id="visualizer">
      <canvas width="400" height="350" id="canvas">
        !Canvas not supported by your browser
      </canvas>
      <div id="mirrorWrapper">
        <canvas width="400" height="250" id="mirror"></canvas>
      </div>
    </div> 
    
  </body>
</html>
