body {
  background: #fff !important;
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  font-family: arial,sans-serif;
  display:inline-block;
  font-weight:normal;
  overflow-x: hidden;
}

/* buttons aspect */
.ung_button {
    background-image: url('../images/ung/button_background.png');
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    color: #333333;
}

/* widget fields */
fieldset.widget {
    border: 0 none;
}

/* hide legends */
div.field label, span.headline, a.listbox_title, div.actions, div.actions,
legend.group_title, fieldset.left {
    display: none;
}
/* Hidden input */
fieldset#hidden_fieldset,
 div#upload_document,
 div#edit_document {
  display: none;
}

/* navigation classes */
div.navigation {
    border-bottom: 1px solid #C9D7F1;
    font-family: arial,sans-serif;
    font-size: 13px;
    height: 15px;
    padding: 5px;
}
div.navigation fieldset.widget {
  border: 0px;
  padding-top: 0.6%;
  margin: -0.60%;
  width: 96%;
}

    /* left */
div.navigation-left a {
 margin-left:7px;
}

    /* right */
div.navigation-right {
    float: right;
    margin-top: -16px;
}
div.navigation-right a {
    margin-left: 2px;
}
div.navigation-right fieldset.widget div {
    float: left;
}
        /* language selection */
div#select_language {
    font-family: arial,sans-serif;
    font-size: 14px;
    list-style: none outside none;
    white-space: nowrap;
}
div#select_language {
    color: #2200CC;
}
div#select_language ul li span {
    cursor: pointer;
}
span#available_language {
    text-decoration: underline;
}
div#select_language ul li ul {
    display: none;
    height: auto;
    position: absolute;
    z-index: 200;
    width: 70px;
}
div#select_language ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
div#select_language ul li li {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #C9D7F1;
    border-right: 1px solid #C9D7F1;
}
div#select_language ul li span {
    cursor: pointer;
}
div#select_language ul li:hover ul {
    display: block;
}
.menu_create_object li li:hover, div#select_language ul li li:hover {
    background-color: #DAE6F6;
}
        /* other options */
a#left_message, a#right_message {
    color: #FD0A0A;
    display: none;
}


/* header */
div.header {
    height: 3.5em;
    width: 100%;
}
div#wrapper_header {
    width: 100%;
    height: 100%;
    display: inline-block;
}

    /* left */
div.header-left {
    margin-top: -4px;
    width: 32em;
    position: absolute;
}
div.header-left h2 {
    font-size: 14pt;
}
        /* logo UNG */
a#loading_message {
    display: none;
}
div.logo-area {
  float: left;
  padding-right: 10px;
}
a.ung_docs img {
  border:0 none;
  position:relative;
  top:9px;
}
        /* document title & state */
div#wrapper_header div.field a[name="document_title"] {
    color: #060605;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}
div#wrapper_header div.field a[name="document_title"], div#wrapper_header div.field a[name="document_state"] {
    font-size: 15px;
    margin-left: 22px;
}
div#wrapper_header div.field a[name="document_title"]:hover {
    background: none repeat scroll 0 0 #FFFFD6;
    border: 1px solid #AAAAAA;
}
        /* research bar */
div.input form {
    margin-top: 0.5em;
    float:right;
}

    /* right */
div.header-right{
    margin-right: 10em;
    position: relative;
    float: right;
}
div.header-right fieldset.widget {
    padding: 0;
}
        /* last modification & author */
div.header-right div.input {
    margin-top: 1em;
}
div.header-right div.input div{
    float: right;
    position: relative;
}
div.header-right div.input a {
    color: #A7A2A2;
    font-size: 13px;
}
.action_menu {
    float:right;
    position: absolute;
    margin-left: 3em;
    z-index: 200;
}
.action_menu ul {
    padding: 0;
}
.action_menu ul li {
    list-style: none inside none;
}
.action_menu a#change_state {
    background-image: url("../images/ung/button_background.png");
    border: 1px solid #D1D1D1;
    color: #333333;
    padding: 2px;
}
.action_menu ul#change_state_list>li:hover {
    color: #000000;
    text-decoration: none;
    cursor:pointer;
    margin-right: -3em;
}
.action_menu li:hover ul {
    display: block;
}

.action_menu ul li ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D1D1D1;
    display: none;
}
.action_menu ul li ul:hover {
    display: block;
}
.action_menu ul li ul li:hover {
    background: none repeat scroll 0 0 #F3F3F3;
}
.action_menu ul li ul li {
    text-align: center;
}
.action_menu ul li ul li h6 {
    color: #333333;
    font-size: 12px;
    font-weight: lighter;
    padding: 0.5em;
    margin: 0;
}

/* main */
div.main {
    height: auto;
    margin-top: 0.5em;
}
/***************** UNG main page ********************/
    /* left */
div.main-left {
    border-right: 4px solid #BBCCFF;
    background-color: #DAE6F6;
    height: 100%;
    margin-left: -4px;
    width: 12em;
    margin-top: -0.6em;
    overflow:auto;
    float:left;
}
div.gadget-column {
    margin-left: -4px;
    margin-right: -8px;
}
        /* listbox menus */
.option_menu {
    font-family: arial,sans-serif;
    font-size: 14px;
    list-style: none outside none;
    white-space: nowrap;
    color: #8E8E8E;
    margin-top: -5px;
    margin-left: 5px;
    float:left;
}
.option_menu li {
    padding-top: 0.5em;
    position: relative;
    text-decoration: none;
}
.option_menu li div {
    display: block;
    text-decoration: none;
}
.option_menu li div.fix {
    height: 19px;
    padding-left: 2px;
    padding-right: 14px;
    text-align: justify;
    width: 78px;
}
.option_menu li div.fix img {
    margin-left: 3px;
    position: relative;
    top: 2px;
}
.option_menu img {
    border: 0 none;
}
.option_menu li:hover ul {
    display: block;
}
.option_menu li ul {
    display: none;
    height: auto;
    position: absolute;
    z-index: 200;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
}
.option_menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.option_menu li div:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
.option_menu li ul div {
    color: #002E3F;
    display: block;
    font-size: 14px;
    font-style: normal;
    line-height: 28px;
    margin-left: 4px;
    margin-top: -5px;
    padding: 0 21px 0 1px;
    text-align: left;
    text-decoration: none;
}
        /* upload button */
div.gadget-action input#upload {
    left: 0.5em;
    position: relative;
    top: 0.1em;
}
        /* action list */
div.gadget-column div.file-selection {
    background-color: #FFFFFF;
    margin: 0.5em -4px -4px;
}
div.gadget-column div.file-selection div.file-quick-browser,
div.gadget-column div.file-selection div.file-quick-search {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}
div.listbox-tree {
    font-size: 13px;
    height: 233px;
    overflow: hidden;
    width: 100%;
}
div.listbox-domain-tree-container select {
    display: none;
}
.tree-open, .tree-closed {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    cursor: pointer;
    margin-left: 1em;
}
        /* gadgets */


    /* right */
div.main-right {
    height: 100%;
    margin-top: -0.6em;
    float:right;
    margin-left: -3px;
}
div.main-right fieldset.widget {
    margin-top: 5px;
    padding: 0;
    margin-left: -1px;
}
        /* buttons delete, refresh, change state */
div.toolbar, div.favorite {
    border-collapse: collapse;
}
div.favorite {
    background-color: #BBCCFF;
    height: 27px;
    margin-top: -5px;
    padding-top: 8px;
}
div.toolbar {
    background-color: #E3E9FF;
    height: 27px;
    padding-bottom: 5px;
}
div.favorite a {
    float: right;
    font-size: 14px;
    margin-right: 5px;
}
a.domain_selected {
    float: left !important;
    font-size: 15px !important;
}
button.delete {
    margin-left: 6px;
    margin-top: 6px;
}
        /* navigation buttons */
div.listbox-navigation {
    float: right;
    font-size: 13px;
    margin-right: 5px;
    margin-top: 0;
    min-width: 10%;
    display: none;
}
div.listbox-navigation input {
    margin-top: 0.3em;
    height: 18px;
    width: 20px;
}
div.listbox-navigation button.listbox_first_page {
    background-image: url("../images/ung/first_page.png");
}
div.listbox-navigation button.listbox_previous_page {
    background-image: url("../images/ung/previous_page.png");
}
div.listbox-navigation button.listbox_next_page {
    background-image: url("../images/ung/next_page.png");
}
div.listbox-navigation button.listbox_last_page {
    background-image: url("../images/ung/last_page.png");
}
div.listbox-navigation button.listbox_previous_page, div.listbox-navigation button.listbox_next_page {
    margin: 0;
    width: 12px;
}
div.listbox-navigation button {
    position: relative;
    top: -0.2em;
    background-repeat: no-repeat;
    border: 0 none;
    height: 20px;
    display: none;
}
div.listbox-navigation button:hover {
    cursor: pointer;
}

        /* header */
div.listbox-header-box {
    height: 0;
}
div.listbox-content a, a:visited, a:focus {
    background-color: inherit;
    color: #002E3F;
    text-decoration: none;
}
div.listbox-content a:hover {
    background-color: inherit;
    color: #3D6474;
    text-decoration: underline;
}
a.your_listbox_title {
    display: none;
}

        /* records displayer */
div.listbox-header-box {
    height: 0;
    float: right;
}
div.listbox-number-of-records {
    float: right;
    font-size: 12px;
    margin-right: 5em;
    margin-top: -18px;
    min-width: 30%;
}
        /* document list */
            /* headlines */
table.listbox {
    background: none repeat scroll 0 0 #EFF3FA;
}
.listbox {
    border-collapse: collapse;
}
thead {
    background: url("../images/ung/href_background.gif") repeat scroll 0 0 transparent;
    font-family: serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 100%;
    word-spacing: normal;
}
div.listbox-content tr {
    border-bottom: 1px solid #D1D1D1;
    empty-cells: show;
    font-size: 13px;
    padding-top: 1px;
    white-space: nowrap;
}
.listbox th {
    border-right: 1px solid #BBCCFF;
}
.listbox-table-select-cell {
    width: 0.5%;
}
.listbox-table-header-cell {
    text-align: left;
}
.sort-button {
    background: url("../images/ung/href_background.gif") repeat scroll 0 0 transparent;
    border: 0 none;
}
.sort-button span {
    color: #112ABB;
}
            /* document line */
tr.text:hover, tr.illustration:hover, tr.table:hover {/*editable document*/
    background-color: #DAE6F6;
}
tr.other td.listbox-table-data-cell a {/*uneditable document*/
    color: #8E8E8E;
    text-decoration: none !important;
}
div.listbox-content tr {
    border-bottom: 1px solid #D1D1D1;
    empty-cells: show;
    font-size: 13px;
    padding-top: 1px;
    white-space: nowrap;
}
div.listbox-content table.listbox tbody tr td {
    padding: 2.2px;
    vertical-align: middle;
}
div.listbox-content a:hover {
    background-color: inherit;
    color: #3D6474;
    text-decoration: underline;
}
div.listbox-content td.listbox-table-data-cell {
    cursor: pointer;
}
div.listbox-content td.listbox-table-data-cell a img {
    margin-right: -8px;
}
div.listbox-content a img, div.main-content a img {
    border: 0 none;
}

/**********************************************************
*******************   editor page   ***********************/
    /* content */
div.content {
    /*background: none repeat scroll 0 0 #DAE6F6;*/
    width:100%;
    border-bottom: 4px solid #BBCCFF;
    border-top: 4px solid #BBCCFF;
}
fieldset.bottom {
    border: 0 none;
    width:100%;
    list-style: none outside none;
    padding: 0;
    position: relative;
}
    /* SVG-edit */
iframe#svgframe {
    width: 100%;
    border: 0 none;
    overflow: hidden;
}

/**********************************************************
*******************   login page   ************************/
    /* welcome message */
div#advertisement b {
    font-size: 12px;
}
div#advertisement img{
    position: absolute;
    margin-top: 3em;
    height: 10em;
}
    /* login table */
span#id_provider_details {
    font-size: 8px;
    float: left;
}
table#field_table, table#new-account-table, table#create-new-user {
    border: 1px solid #C3D9FF;
    width: 78%;
}
table#field_table tbody, table#new-account-table tbody, table#create-new-user tbody {
    background: none repeat scroll 0 0 #E8EEFA;
}
table#field_table tbody label {
    float: right;
    font-size: 10pt;
    white-space: nowrap;
}
    /* new user table */
table#create-new-user {
    display: none;
    margin-top: -22px;
}
table#new-account-table table td, table#create-new-user td {
    font-size: 10pt;
}
td#form-message {
    color: #EC1D1D;
    display: none;
}
form#create-user table tbody tr:last-child td a{
    color: #2200CC;
    cursor: pointer;
    font-size: 8pt;
    text-decoration: underline;
}
/* new account "button" */
td#new-account-form {
    color: #0000CC;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
/* footer */
div.footer {
    font-size: 10pt;
    margin-top: 40px;
    text-align: center;
}
div.footer a {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/**********************************************************
********************   tooltip area   *********************/
span.tooltipElement {
    cursor: pointer;
    color: #0099CC;
}
div.toolLocation{
    visibility: hidden;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid Black;
    padding: 10px;
    font-family: Verdana, Arial;
    font-size: 10px;
    background-color: #FFFFCC;
}

/**********************************************************
*******************   dialog box   ************************/
div.ui-dialog {
    background: none repeat scroll 0 0 #C1D9FF;
}
fieldset#edit_document {
    border: 0 none;
    height: 72px;
    margin-left: -1em;
    margin-top: -0.5em;
    width: 379px;
}
div.ui-dialog-titlebar {
    background: none repeat scroll 0 0 #E0EDFE;
    border: 0 none;
    border-radius: 1px 1px 1px 1px;
    height: 15px;
}
span#ui-dialog-title-edit_document, span#ui-dialog-title-upload_document, span#ui-dialog-title-gadget-listbox {
    color: #222222 !important;
    font: bold 12pt Arial,Sans-serif;
    margin-left: -8px;
    margin-top: -3px;
}
div#edit_document.ui-dialog-content {
    background-color: #FFFFFF;
}
div#edit_document {
    height: 80px;
    overflow: hidden;
    width: 368px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none !important;
    height: 21px;
    margin-top: -10px;
    width: 104px;
}
.ui-dialog .ui-dialog-buttonpane button {
    margin: 0 0.4em 0.5em 0 !important;
}
.ui-button .ui-button-text {
    line-height: 1em !important;
}
.ui-button-text-only .ui-button-text {
    padding: 0.2em 0.3em !important;
}
span.ui-button-text {
    font-size: 12px;
}
