/* MODULE LIST 
 * Control which columns we display in module list */
table {
  width: 100%;
  font-size: 1.2em;
}
th, td {
  padding: .5em 1em;
  background-color: #fff;
  text-align: right;
}
th, td {
  display: none;
}

th.persist,
td.persist {
  display: table-cell;
}

.content-tab {
  display: none;
}



@media all and (min-width: 600px){
  



.content-primary {
  width: 49%;
  float: left;
}

.content-secondary {
  width: 49%;
  float: left;
}


th.essential,
td.essential {
  display: table-cell;
}



}

@media all and (min-width: 800px){
th.optional,
td.optional {
  display: table-cell;
}

.content-tab {
  width: 15%;
  float: left;
}

.content-tab {
  display: block;
}

.content-primary {
  width: 42%;
  float: left;
}

.content-secondary {
  width: 42%;
  float: left;
}

}