<!DOCTYPE html>
<html lang="en">
<head>
  <title>Progress</title>
 


  <!-- renderjs -->
  <script src="../<%= copy.rsvp.relative_dest %>" type="text/javascript"></script>
  <script src="../<%= copy.renderjs.relative_dest %>" type="text/javascript"></script>
  <script src="../<%= curl.jquery.relative_dest %>" type="text/javascript"></script>

  <script src="./volume.js" type="text/javascript"></script>
  
  <link rel="stylesheet" href="../../src/audioplayer_volume/volume.css" media="screen" ></link>
</head>
<body>


  <progress class="volume" >
  </progress>
  

</body>
</html>
