<div class="container-fluid">
  <div class="row-fluid">
    <div class="well">
      <ul class="nav nav-list">
        <li class="nav-header">Nav</li>
        <li>
          <a href="#/login"
             onclick="javascript:
                      OfficeJS.open({app:'login'});
                      return false;">
            <i class="icon-ok">
            </i>
            Login
          </a>
        </li>
        <li class="nav-header">Tools</li>
        <li class="texteditor">
          <a href="#/texteditor"
             onclick="javascript:
                      OfficeJS.open({app:'textEditor'});
                      return false;">
            <i class="icon-font"></i>
            Writer
          </a>
        </li>
        <li class="imgeditor">
          <a href="#/imgeditor"
             onclick="javascript:
                      OfficeJS.open({app:'imgEditor'});
                      'page-content');
                      return false;">
            <i class="icon-pencil"></i>
            Image Editor
          </a>
        </li>
        <li class="spreadsheet">
          <a href="#/spreadsheet"
             onclick="javascript:
                      OfficeJS.open({app:'speadsheet'});
                      return false;">
            <i class="icon-signal"></i>
            Spreadsheet
          </a>
        </li>
        <li id="nav_document_list_header"
            style="display:none">
          <a href="#/doclist"
             onclick="javascript:
                      OfficeJS.open({app:'documentLister'});
                      return false;">
            <!-- <i class="icon-list"></i> -->
            Document List
          </a>
          <div id="nav_document_list">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
