<div class="container-fluid">
  <div class="well">
    <ul class="nav nav-list" id="left-nav-bar">
      <li class="nav-header">Nav</li>
      <li>
        <a href="#/login"
           onclick="javascript:
                    OfficeJS.open({app:'login'});
                    return false;">
          <i class="icon-ok">
          </i>
          Login
        </a>
      </li>
    </ul>
  </div>
</div>
<script type="text/html" id="left-nav-tools">
  <li class="nav-header left-nav-tools">Tools</li>
  <li class="texteditor left-nav-tools">
    <a href="#/texteditor"
       onclick="javascript:
                OfficeJS.open({app:'text_editor'});
                return false;">
      <i class="icon-font"></i>
      New Text Document
    </a>
  </li>
  <li class="imgeditor left-nav-tools">
    <a href="#/imgeditor"
       onclick="javascript:
                OfficeJS.open({app:'img_editor'});
                return false;">
      <i class="icon-pencil"></i>
      New Image
    </a>
  </li>
  <li class="spreadsheet left-nav-tools">
    <a href="#/spreadsheet"
       onclick="javascript:
                OfficeJS.open({app:'spreadsheet'});
                return false;">
      <i class="icon-signal"></i>
      New Spreadsheet
    </a>
  </li>
  <li class="spreadsheet left-nav-tools">
    <a href="#/workinprogress"
       onclick="javascript:
                OfficeJS.open({app:'workinprogress'});
                return false;">
      <i class="icon-tasks"></i>
      Show Activity
    </a>
  </li>
  <li class="powerpoint left-nav-tools">
    <a href="#/powerpoint"
       onclick="javascript:
                OfficeJS.open({app:'power_point'});
                return false;">
      <i class="icon-facetime-video"></i>
      New Powerpoint
    </a>
  </li>
  <!-- <li class="editpreferences left-nav-tools"> -->
  <!--   <a href="#/edit_preferences" -->
  <!--      onclick="javascript: -->
  <!--               OfficeJS.open({app:'edit_preferences'}); -->
  <!--               return false;"> -->
  <!--     <i class="icon-check"></i> -->
  <!--     Edit Preferences -->
  <!--   </a> -->
  <!-- </li> -->
  <li id="nav_document_list_header left-nav-tools">
    <a href="#/doclist"
       onclick="javascript:
                OfficeJS.open({app:'document_lister'});
                return false;">
      <i class="icon-list"></i>
      Document List
    </a>
    <div id="nav_document_list">
    </div>
  </li>
</script>
