<div id="login-gadget">
  <div class="control-group">
    <label class="control-label"
           for="input_json_storage">
      JSON Storage
    </label>
    <div class="controls docs-input-sizes">
      <input id="login_input"
             class="input-xxlarge" value=""
             type="text" name="JSONstorage" id="input_json_storage"
             placeholder="{&quot;storage&quot;:&quot;description&quot;}" />
    </div>
  </div>
  <div>
    Remember me&nbsp;&nbsp;
    <input id="remember_me" type="checkbox"
           onclick="window.OfficeJS_login.toggleRememberMe();"/>
  </div>
  <div>
    <button type="submit"
            class="btn"
            onclick="window.OfficeJS_login.createJIO();">
      Create New JIO
    </button>
  </div>
  <script type="text/javascript">
    <!--
window.OfficeJS_login = {
    storageId:'#login-gadget #login_input',
    storagePath:'OfficeJS/login/login',
    rememberId:'#login-gadget #remember_me',
    rememberPath:'OfficeJS/login/remember_me',
    localStorage: LocalOrCookieStorage,

    fillLogin: function () {
        $(this.storageId).attr(
            'value',this.localStorage.getItem(this.storagePath) || '');
    },

    isRememberMe: function () {
        return $(this.rememberId).attr('checked');
    },
    fillRememberMe: function () {
        var t = this.localStorage.getItem(this.rememberPath);
        if (t) {
            this.rememberMe();
        }
    },
    rememberMe: function () {
        $(this.rememberId).attr('checked','1');
        this.localStorage.setItem(this.rememberPath,'1');
    },
    dontRememberMe: function () {
        $(this.rememberId).removeAttr('checked');
        this.localStorage.deleteItem(this.rememberPath);
    },
    toggleRememberMe: function () {
        var t = this.localStorage.getItem(this.rememberPath);
        if (t) { this.dontRememberMe() } else { this.rememberMe(); }
    },

    createJIO: function() {
        var spec = $('#login-gadget #login_input').attr('value');
        this.localStorage.setItem(this.storagePath,spec);
        OfficeJS.setJio(spec);
    }
};
window.OfficeJS_login.fillRememberMe();
if (window.OfficeJS_login.isRememberMe()) {
    window.OfficeJS_login.fillLogin();
}
        //-->
  </script>
</div>
