<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <link rel="stylesheet"
        href="lib/slickgrid/css/slick.grid.css"
        type="text/css"/>
  <link rel="stylesheet"
        href="lib/slickgrid/css/examples.css"
        type="text/css"/>
  <style>
    .slick-cell-checkboxsel {
      background: #f0f0f0;
      border-right-color: silver;
      border-right-style: solid;
    }
  </style>
</head>
<body>
  <div>
    <button type="submit"
            id="slickgrid_document_lister_remove_selected"
            class="btn btn-danger">
      <i class="icon-remove icon-white"></i>
      Remove Selected
    </button>
    <button type="submit"
            id="slickgrid_document_lister_refresh"
            class="btn"
            onclick="OfficeJS_slickgrid.refresh();">
      <i class="icon-refresh"></i>
      Refresh
    </button>
  </div>
<div id="slickgrid_documentlist" style="width:100%;height:300px"></div>
<script type="text/javascript"
        src="lib/jquery/jquery.js"></script>
<script type="text/javascript"
        src="lib/jquery/jquery.event.drag-2.0.min.js"></script>

<script type="text/javascript" src="lib/slickgrid/js/slick.core.js"></script>
<script type="text/javascript"
        src="lib/slickgrid/js/slick.checkboxselectcolumn.js"></script>
<script type="text/javascript"
        src="lib/slickgrid/js/slick.rowselectionmodel.js"></script>
<script type="text/javascript"
        src="lib/slickgrid/js/slick.formatters.js"></script>
<script type="text/javascript" src="lib/slickgrid/js/slick.grid.js"></script>

<script type="text/javascript">
    <!--
OfficeJS_slickgrid.load();
//-->
</script>
</body>
</html>
