
      <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
      <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
          <script type="text/javascript"
            src="lib/presentation/jquery.js"></script>
          <script type="text/javascript"
            src="lib/presentation/jquery-ui.js"></script>

          <link type="text/css" rel="stylesheet"
             href="lib/presentation/erp5_knowledge_box.css" />
	  <link type="text/css" rel="stylesheet"
             href="lib/presentation/erp5.css" />
          <link type="text/css" rel="stylesheet"
             href="lib/presentation/erp5_listbox.css" />
          <script type="text/javascript"
             src="lib/presentation/erp5.js"></script>
          <script type="text/javascript"
             src="lib/presentation/erp5_knowledge_box.js"></script>
          <script type="text/javascript"
             src="lib/presentation/erp5_xhtml_appearance.js"></script>
        </head>
        <body>
	  <div>
    	    <input type="text"
              name="fileName"
              id="input_file_name"
              value=""
              placeholder="File name here" />&nbsp;
   	    <button type="submit"
              class="btn btn-primary"
              onclick="OfficeJS.save($('#input_file_name').attr('value'));">
     	    <i class="icon-download-alt icon-white"></i>
      	      Save
      	    </button>&nbsp;   
	    <img src="lib/presentation/images/slide_icon.png" onclick=window.open("lib/presentation/slides.html"); alt="See slideshow" title="See slideshow" />
            <img src="lib/presentation/images/questionmark.png" alt="see Instruction" title="Drag and drop to modify the order of the slides.
Click on the top left corner of a slide to modify it or on the top right corner to delete it." />
    	  </div>
           
          <fieldset class="bottom editable">
	    <div class="field" title="The content of the document considered as a text string">
	      <label>
	        Page Content
	      </label>
	      <div class="input"><div  >
              <link rel="stylesheet" type="text/css" href="lib/presentation/jquery-ui.css">
	      <link rel="stylesheet" type="text/css" href="lib/presentation/slideshow_editor.css">
	      <script language="javascript" src="lib/presentation/slideshow_editor.js"></script>
	      <script language="javascript" src="lib/presentation/erp5_run_my_docs.js"></script>
	      <div id="list"></div>
	      <div id="add_slide">
	        <section id="add_slide_button"> Add Slide </section>
	      </div>
	      <div id="dialog_add_slide" class="slide_dialog"></div>
	      <div id="dialog_edit_slide" class="slide_dialog"></div>
      	    </div>
          
            <p class="clear"></p>
	    <div class="field hidden" title="Content of the web page">
	      <div class="input">
		<textarea id=prepareContent class="hidden" rows="40" cols="120" name="field_my_text_content" >
                  <div id="list" class="ui-sortable">
		    <section class="master">
        	      <h1>How to Manage Support Requests</h1>
       		      <img src="http://www.erp5.com/user-Howto.Manage.Support.Requests.Scenario?format=&amp;timestamp=1340181557058" type="image/svg+xml" title="How to manage support requests" alt="How to manage support requests"/>
                      <footer>
         	        by <a href="http://www.osoe-project.org/contact">OSOE Team</a>.
                      </footer>
                      <details open="open">
          	        <p>From last tutorial we have learned the standard process of managing incoming Events. In this tutorial, we will specially introduce the process of how to manage the Ticket "Support Request", following the standard process of managing incoming Events explained in last tutorial.</p>
		        <p>Support Request is a kind of Ticket which the incoming Events (email, phonecall, fax, etc.) of your customers are assigned to, and which is a very important Ticket in ERP5 CRM because it allows you to manage all the interactions between your customer, your company and your supplier effectively, which helps consolidating the customer relations of your company.</p>
                      </details>
                    <test>
                      <table class="test" style="display: none;">
                        <tbody>
              		  <tr style="opacity: 1;">
                	    <td colspan="3">&lt;span metal:use-macro="container/Zuite_viewTestMacroLibrary/macros/init_test_environment"&gt;init&lt;/span&gt;</td>
			  </tr>
              		  <tr>
                	    <td>openAndWait</td>
                	    <td>${base_url}/Zuite_setUpIncomingEventTest</td>
               		    <td></td>
             		  </tr>
              		  <tr class="" style="opacity: 1; z-index: 0; ">
                	    <td>verifyTextPresent</td>
               		    <td>Init Ok</td>
               		    <td></td>
            		  </tr>
              		  <tr style="opacity: 1;">
                	    <td colspan="3">&lt;span metal:use-macro="container/Zuite_viewTestMacroLibrary/macros/wait_for_activities"&gt; Wait for activities &lt;/span&gt;</td>
             		  </tr>
             		  <tr class="" style="opacity: 1; z-index: 0; ">
             		    <td colspan="3">&lt;span metal:use-macro="container/Zuite_viewTestMacroLibrary/macros/login_as_functional_test_user"&gt;Login As Functional Test User&lt;/span&gt;</td>
            		  </tr>
           		</tbody>
                      </table>
        	    </test>
    		  </textarea>
		</div>
	      </div>
    	    </fieldset>
            <p class="clear"></p>
 	  </form>
        </body>
      </html>
    
  
    
  
    
  
  

