<div>
  <input type="text"
         name="fileName"
         id="input_fileName"
         value=""
         placeholder="File name here" />&nbsp;
  <button type="submit"
          class="btn btn-primary"
          onclick="OfficeJS.save($('#input_fileName').attr('value'));">
    <i class="icon-download-alt icon-white"></i>
    Save
  </button>&nbsp;
  <button type="submit"
          class="btn"
          onclick="OfficeJS.load($('#input_fileName').attr('value'));">
    <i class="icon-upload"></i>
    Load
  </button>&nbsp;
  <button type="submit"
          class="btn btn-danger"
          onclick="OfficeJS.remove($('#input_fileName').attr('value'));">
    <i class="icon-remove icon-white"></i>
    Remove
  </button>
</div>
<iframe src="lib/svg-edit/svg-editor.html"
        id="svg_edit_frame"
        style="width:100%;
               height:500px;"
        scrolling="no">
</iframe>

