<div id="loading"
     style="position:absolute;
            right:10px;
            top:10px;
            width:100px;
            height:40px;">
  <div id="loading_spin"
       style="background-image:url('img/icons/loading_spin_16.gif');
              width:16px;
              height:16px;
              float:right;
              display:none;">
  </div>
  <div id="loading_spin"
       style="width:16px;
              height:16px;
              float:right;">
  </div>
  <div id="loading_getlist"
       style="float:right;
              display:none;">
    <i class="icon-refresh icon-white"></i>
  </div>
  <div id="loading_save"
       style="float:right;
              display:none;">
    <i class="icon-download-alt icon-white"></i>
  </div>
  <div id="loading_load"
       style="float:right;
              display:none;">
    <i class="icon-upload icon-white"></i>
  </div>
  <div id="loading_remove"
       style="float:right;
              display:none;">
    <i class="icon-remove icon-white"></i>
  </div>
</div>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <h1>OfficeJS</h1>
        </div>
        <div class="span10">
          <ul class="nav">
            <li><a href="#">Nav</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
