<!DOCTYPE html>
<html>
  <head>
    <title>JQuery Text Editor Gadget</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../<%= curl.jqueryte.css_relative_url %>" />
    <script src="../<%= copy.rsvp.relative_dest %>" type="text/javascript"></script>
    <script src="../<%= copy.renderjs.relative_dest %>" type="text/javascript"></script>
    <script src="../<%= curl.jquery.relative_dest %>" type="text/javascript"></script>
    <script src="../<%= curl.jqueryte.js_relative_url %>" type="text/javascript"></script>
    <script src="jqteditor.js" type="text/javascript"></script>
    <link rel="http://www.renderjs.org/rel/interface"
          href="http://www.renderjs.org/interface/editor"/>
  </head>
  <body>
    <!--label for="textarea-b">Your advanced text editor:</label-->
    <textarea id="textarea-b" class="ckeditor"></textarea>
  </body>
</html>
