<!DOCTYPE html>
<html lang="en">
<head>
  <title>Progress</title>
 


  <!-- renderjs -->
  <script src="../<%= copy.rsvp.relative_dest %>" type="text/javascript"></script>
  <script src="../<%= copy.renderjs.relative_dest %>" type="text/javascript"></script>
  <script src="../<%= curl.jquery.relative_dest %>" type="text/javascript"></script>

  <!-- custom script -->
  <script src="./progress.js" type="text/javascript"></script>
  
  <link rel="stylesheet" href="../../src/audioplayer_progress/progress.css" media="screen" ></link>
</head>
<body>


  <div class="box" style="display:none;position:absolute;">
  </div>   

  <div class="time" style="position:absolute;">
  </div>   
  <progress class="pro" style="width: 100%;">
  </progress>
   
 
</body>
</html>
