<!DOCTYPE HTML>
<html xml:lang="en" lang="en">
  <head>
    <!--
    This HTML page is meant to bootstrap the webodf based ODF editor. This
    is not the HTML page hosting any collaborative editing.
    It will run on a standard HTTP server and as usual the webodf magic
    happens client-side in your browser.
    This page is meant to be served out of a webodf build directory.
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>Local Editor</title>

    <!-- dojo setup: start -->
    <script type="text/javascript">
     var usedLocale = "C";
     if (navigator && navigator.language && navigator.language.match(/^(ru|de)/)) {
       usedLocale = navigator.language.substr(0,2);
     }

     dojoConfig = {
       locale: usedLocale,
       paths: {
         "webodf/editor": ".",
         "dijit": "dijit",
         "dojox": "dojox",
         "dojo": "dojo",
         "resources": "resources"
       }
     }
    </script>

    <script src="dojo-amalgamation.js" data-dojo-config="async: true"></script>
    <link href="app/resources/app.css" rel="stylesheet"/>
    <!-- dojo setup: end -->

    <!-- editor: start -->
    <link href="editor.css" rel="stylesheet"/>
    <script src="webodf.js"></script>
    <script src="FileSaver.js"></script>
    <script src="../<%= copy.rsvp.relative_dest %>"></script>
    <script src="../<%= copy.renderjs.relative_dest %>"></script>
    
    <script src="webodf_editor.js"></script>
    <!-- editor: end -->
  </head>

  <body onload="webodfEditor.boot();" class="claro">
    <div id="mainContainer">
    </div>
  </body>
</html>
