<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jabber client</title>

    <link rel="stylesheet" href="../<%= curl.jquerymobilecss.relative_dest %>">

    <script src="../<%= curl.jquery.relative_dest %>"></script>
    <script src="../<%= curl.jquerymobilejs.relative_dest %>"></script>
    <script src="../<%= copy.rsvp.relative_dest %>"></script>
    <script src="../<%= copy.renderjs.relative_dest %>"></script>
    <script src="../<%= curl.strophejs.relative_dest %>"></script>
    <script src="../<%= copy.handlebars.relative_dest %>"></script>

    <script src="jabberclient_contactlist.js"></script>

    <script class="offline-contact-template" type="text/x-handlebars-template">
      <li>
        <img src="../jabberclient_contactlist/images/offline.png"
             alt="offline"
             class="ui-li-icon ui-corner-none">
        {{name}}&nbsp&nbsp{{jid}}
        {{#if new_message}}
        &nbsp&nbsp [new message(s)]
        {{/if}}
      </li>
    </script>

    <script class="online-contact-template" type="text/x-handlebars-template">
      <li><a href="{{hash}}">
        <img src="../jabberclient_contactlist/images/online.png"
             alt="online"
             class="ui-li-icon ui-corner-none">
        {{name}}&nbsp&nbsp{{jid}}
        {{#if new_message}}
        &nbsp&nbsp [new message(s)]
        {{/if}}
      </a></li>
    </script>

    <script class="status-contact-template" type="text/x-handlebars-template">
      <li><a href="{{hash}}">
        <img src="../jabberclient_contactlist/images/status.png"
             alt="{{status}}"
             class="ui-li-icon ui-corner-none">
        {{name}}&nbsp&nbsp{{jid}}&nbsp&nbsp({{status}})
        {{#if new_message}}
        &nbsp&nbsp [new message(s)]
        {{/if}}
      </a></li>
    </script>

  </head>
  <body>
    <div id=contact-list><ul data-role="listview" data-inset="true"></ul></div>
  </body>
</html>
