#contact-list img {
    float: left;
    margin-right: 5px;
}
#contact-list li {
    min-height: 0.625em;
    padding-left: 3.25em;
}

#contact-list h2 {
    margin: -0.6em 0;
    margin-top: -0.3em;
}