.progress_volume{
    position: absolute;
    top: 0%;
    margin: 30px 0 20px 0; 
}
.title {
    position: absolute;
    top: 1%;
    margin: 30px 0 20px 0;
}
input.notice{
    background: black;
    color: white;
}

.progress_time{
    position: absolute;
    top: 65%;
    margin: 50px 0 20px 0;
}

