.title {
    position: absolute;
    top: 10px;
    margin: 50px 0 20px 0;
}
input.notice{
    width:400px;
    background: black;
    color: white;
}

.progress_time{
    position: absolute;
    top: 400px;
    margin: 50px 0 20px 0;
}

.progress_volume{
    position: absolute;
    top: 310px;
    margin: 50px 0 20px 0;
}


progress.pro{
    width:400px;
}

progress.volume{
    width:400px;
}