<!DOCTYPE html>
<html lang="en">
<head>
  <title>audioPlayer</title>


  <!-- renderjs  -->
  <script src="../<%= copy.rsvp.relative_dest %>" type="text/javascript"></script>
  <script src="../<%= copy.renderjs.relative_dest %>" type="text/javascript"></script>

  <!-- custom script -->
  <script src="./audioplayer.js" type="text/javascript"></script>
  
  <link rel="stylesheet" href="../../src/audioplayer/audioplayer.css" media="screen" ></link>  
</head>
<body>
  
  
  <progress>
   <id="progress">
  </progress>
    


  
</body>
</html>
