<div id="login-gadget">
  <div class="control-group">
    <label class="control-label"
           for="input_json_storage">
      JSON Storage
    </label>
    <div class="controls docs-input-sizes">
      <input id="login_input"
             class="input-xxlarge"
             value="{&quot;type&quot;: &quot;local&quot;, &quot;username&quot;: &quot;john&quot;}"
             type="text" name="JSONstorage" id="input_json_storage"
             placeholder="{&quot;storage&quot;:&quot;description&quot;}" />
    </div>
  </div>
  <div>
    Remember me&nbsp;&nbsp;
    <input id="remember_me" type="checkbox"
           onclick="OfficeJS_login.object.toggleRememberMe();"/>
  </div>
  <div>
    <button type="submit"
            class="btn"
            onclick="OfficeJS_login.object.connect();">
      Create New JIO
    </button>
  </div>
  <script type="text/javascript">
    <!--
(function () {
    "use strict";
    var odf = function (obj,name,value) {
        Object.defineProperty(obj,name,{
            configurable:false,enumerable:false,writable:false,value:value
        });
    };
    odf(OfficeJS_login,'object',{});
    var that = OfficeJS_login.object;
    odf(OfficeJS_login.object,'storage_id','#login-gadget #login_input');
    odf(OfficeJS_login.object,'storage_path','OfficeJS/login/login');
    odf(OfficeJS_login.object,'remember_id','#login-gadget #remember_me');
    odf(OfficeJS_login.object,'remember_path','OfficeJS/login/remember_me');
    odf(OfficeJS_login.object,'fillLogin',function () {
        $(that.storage_id).attr(
            'value',localStorage.getItem(that.storage_path) || '');
    });
    odf(OfficeJS_login.object,'isRememberMe',function () {
        return $(that.remember_id).attr('checked');
    });
    odf(OfficeJS_login.object,'fillRememberMe',function () {
        var t = localStorage.getItem(that.remember_path);
        if (t) {
            that.rememberMe();
        }
    });
    odf(OfficeJS_login.object,'rememberMe',function () {
        $(that.remember_id).attr('checked','1');
        localStorage.setItem(that.remember_path,'1');
    });
    odf(OfficeJS_login.object,'dontRememberMe',function () {
        $(that.remember_id).removeAttr('checked');
        delete localStorage[that.remember_path];
    });
    odf(OfficeJS_login.object,'toggleRememberMe',function () {
        var t = localStorage.getItem(that.remember_path);
        if (t) { that.dontRememberMe() } else { that.rememberMe(); }
    });
    odf(OfficeJS_login.object,'connect',function () {
        var spec = $('#login-gadget #login_input').attr('value');
        localStorage.setItem(that.storage_path,spec);
        OfficeJS_login.connect (spec);
    });

    that.fillRememberMe();
    if (that.isRememberMe()) {
        that.fillLogin();
    }
}());
        //-->
  </script>
</div>
