AuthType "Basic"
AuthName "nom"
AuthUserFile "http://localhost/dav/.htpasswd"
Header always set Access-Control-Allow-Methods "GET, POST, DELETE, OPTIONS, PUT"
Header always set Access-Control-Allow-Headers "Content-Type, X-Requested-With, X-HTTP-Method-Override, Accept, Authorization"
Header always set Access-Control-Allow-Credentials "true"
Header always set Access-Control-Allow-Origin "*"
