<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Buttonfield</title>

    <!-- renderjs -->
    <script src="../<%= copy.rsvp.relative_dest %>" type="text/javascript"></script>
    <script src="../<%= copy.renderjs.relative_dest %>" type="text/javascript"></script>
    <!-- custom script -->
    <script src="buttonfield.js" type="text/javascript"></script>

  </head>
  <body>
    <!--label></label-->
    <button type='submit'>Submit</button>
  </body>
</html>
